extends ../partials/layout

append css
  link(rel='stylesheet', type='text/css', href=`${CONTEXT_PATH}/css/home/index.css?v=${VERSION}`)


block header
  +nav({ active: 0})


block content
  #app
    .banner-wrap
      .banner-img
        img(src=CDN_PATH + "/images/home/banner.jpg")
      .title-img
        img(src=CDN_PATH + "/images/home/title.svg",alt=TITLE)
      .link-nav
        a.link-button(href="/travel/index.html", target='_blank') 蜘蛛差旅
        a.link-button(href="tech-travel/index.html", target='_blank') 蜘蛛智游行

      ul.referral-wrap
        each val, index in referrals
          li.referral
            img(src=CDN_PATH + "/images/home/referral-"+ (index +1) + ".svg",alt=TITLE)
            .msg
              h4!= val.title
              p!= val.msg

    .content-wrap
      .resource-wrap
        .resource-content.global-center
          .platform-resource
            img(src=CDN_PATH + "/images/home/resource.svg",alt=TITLE)
            .line-1px
          ul.resource-list
            each val, index  in resourceList1
              li.resource-details
                p.resource-count= val.count
                img.resource-icon(src=CDN_PATH + `/images/home/resource-one-${index + 1}.svg`,alt=TITLE)
                p.resource-type= val.type
          ul.resource-list
            each val, index  in resourceList2
              li.resource-details
                if val.link
                  a.link-area(href=val.link)
                    p.resource-count= val.count
                    img.resource-icon(src=CDN_PATH + `/images/home/resource-two-${index + 1}.svg`,alt=TITLE)
                    p.resource-type= val.type
                  br
                else
                  p.resource-count= val.count
                  img.resource-icon(src=CDN_PATH + `/images/home/resource-two-${index + 1}.svg`,alt=TITLE)
                  p.resource-type= val.type
      .product-service
        .product-content.global-center
          .product-title
            img(src=CDN_PATH + "/images/home/product-service.svg",alt=TITLE)
            .line-1px
          .travel-wrap
            .float-right
              a.link-button(href="/travel/index.html", target='_blank') 了解详情
              a.link-button(href="http://b.ziztour.com/guide/login.html" target="_blank") 免费注册
            h2 蜘蛛差旅
            h5 节省20%差旅费用 一站式解决企业差旅管理难题
            ul.travel-company
              li.company-item
                .company-details
                  img.company-icon(src=CDN_PATH + "/images/home/company-1.svg",alt=TITLE)
                  p.company-title 管理层[管理部]
                  .line-1px
                  h6 智能
                  p.company-text
                    |微信实时查看企业差旅报表
                    br
                    |费用一目了然，实时掌控员工差旅动态。
                  h6 节省
                  p.company-text 通过资源优势与风险管控<br>为企业每年节省20%差旅费用

              li.company-item
                .company-details
                  img.company-icon(src=CDN_PATH + "/images/home/company-2.svg",alt=TITLE)
                  p.company-title 会计/出纳[财务部]
                  .line-1px
                  h6 专业
                  p.company-text 差旅报表和报销报表精准清晰，多维度分析，有助优化差旅管理
                  h6 可信
                  p.company-text 一站式差旅预订，价格透明，结算清晰，数据可循可核，月结缓解资金压力

              li.company-item
                .company-details
                  img.company-icon(src=CDN_PATH + "/images/home/company-3.svg",alt=TITLE)
                  p.company-title 行政助理/秘书[行政部]
                  .line-1px
                  h6 高效
                  p.company-text 权责分明，部门独立管理，集中审批授权，差旅事务线上电子化，全面提升企业差旅管理效率。
                  h6 可控
                  p.company-text 一键导入企业架构和员工信息，分级设置差旅标准，管控成本。

              li.company-item
                .company-details
                  img.company-icon(src=CDN_PATH + "/images/home/company-4.svg",alt=TITLE)
                  p.company-title 出行/预订人[员工]
                  .line-1px
                  h6 便捷
                  p.company-text 酒店、机票、火车票与租车一站式预订服务，微信即可预订。
                  h6 贴心
                  p.company-text 差旅费用公司月结，先用再结算，不用员工垫付。非差旅类申请借款报销，贴心无压力。

          .parade-wrap
            a.link-button.float-right(href="/tech-travel/index.html", target='_blank') 了解详情
            h2 蜘蛛智游行
            h5 全域旅游智慧解决方案
            ul.parade-list
              li.parade-details
                .parade-title-img
                  img(src=CDN_PATH + "/images/home/parade-1.png")
                .parade-guide
                  h3 直连游客和商家
                  h4 APP\PC\微信商城  API对接OTA
                  .line-1px
                  p.parade-text 专为旅游资源供应商设计的一站式全域旅游电商交易平台，支持景区、酒店、餐厅和旅游特产的前台预订和后台管理。
                  a.link-button(href="/tech-travel/services.html", target='_blank') 了解更多
              li.parade-details
                .parade-title-img
                  img(src=CDN_PATH + "/images/home/parade-2.png")
                .parade-guide
                  h3 海量目的地资源
                  h4 终端直采 成本低
                  .line-1px
                  p.parade-text 专为旅游供应商和渠道分销商便捷交易设计的全域旅游采购分销管理平台，一站式终端采购目的地旅游资源。
                  a.link-button(href="/tech-travel/services/distribution.html", target='_blank') 了解更多
              li.parade-details
                .parade-title-img
                  img(src=CDN_PATH + "/images/home/parade-3.png")
                .parade-guide
                  h3 行业监测 智慧管理
                  h4 统营统销 全域旅游
                  .line-1px
                  p.parade-text 专为旅游行业运营管理而设计的全域旅游综合运营管理平台，搭建大数据中心和产业服务中心，统营统销，智慧管理。
                  a.link-button(href="/tech-travel/services/government.html", target='_blank') 了解更多
      .about-wrap
        .banner-img
          img(src=CDN_PATH + "/images/home/about-us.png")
        .about-content
          .product-title
            img(src=CDN_PATH + "/images/home/about-title.svg")
            .line-1px

          -
            var aboutList = [{
                title: "研发实力",
                msg: "16项软件著作专利"
              },{
                title: "资本热捧",
                msg: "AB两轮融资数千万美元"
              },{
                title: "业界认可",
                msg: "旅游创新企业50强"
              },{
                title: "政府合作",
                msg: "千万资金打造全域旅游平台"
              }] ;

          ul.about-list
            each item,index in aboutList
              li.about-details
                img(src=CDN_PATH + "/images/home/about-"+ (index+1) +".svg",alt=TITLE)
                h5= item.title
                h6= item.msg

          a.link-button.float-right(href="/others/index.html", target='_blank') 更多
      .partner-wrap
        .partner-content.global-center
          .product-title
            img(src=CDN_PATH + "/images/home/partner-title.svg",alt=TITLE)
            .line-1px
          ul.partner-list
            li.partner-details
              h4 13
              h5 直连航司
              .line-1px
              ul
                  li 中国航空
                  li 山东航空
                  li 深圳航空
                  li 大连航空
                  li 北京航空
                  li 南方航空
                  li 东方航空
                  li 上海航空
                  li 海南航空
                  li 四川航空
                  li 首都航空
                  li 天津航空
                  li 江西航空
                  li ...
            li.partner-details
              h4 31,2000+
              h5 酒店
              .line-1px
              ul
                li 深圳凯宾斯基酒店
                li 三亚亚特兰蒂斯酒店
                li 三亚喜来登度假酒店
                li 丽思卡尔顿酒店
                li 希尔顿酒店
                li 瑞吉酒店
                li 香格里拉
                li 朗廷酒店
                li 深圳市柏斯顿酒店
                li 深圳铂美酒店
                li 维也纳酒店
                li Holiday Inn
                li …
            li.partner-details
              h4 120+
              h5 景区
              .line-1px
              ul
                li 三清山风景名胜区
                li 婺源江湾风景区
                li 龟峰景区
                li 婺源思溪延村
                li 鄱阳湖国家湿地公园
                li 婺源汪口景区
                li 婺源篁岭景区
                li 上饶集中营景区
                li 上饶铅山鹅湖书院
                li 横峰葛源景区
                li 婺源李坑
                li 大茅山风景名胜区
                li …
            li.partner-details
              h4 1,6000+
              h5 旅行社
              .line-1px
              ul
                li 广州得旅商务
                li 三亚景程商务会展
                li 三亚旅途天下旅业
                li 三亚天天假日旅行社
                li 三亚心驰蓝岛商旅
                li 三亚畅洋假期旅行社
                li 三亚星际假期旅业
                li 广州票亿信息技术
                li 三亚之星旅行社
                li 深圳市运通商旅国际旅行社
                li 深圳市康辉旅行社
                li 三亚精彩假期商旅
                li ...

      .business-wrap#business-anchor
        .business-content.global-center
          .product-title
            img(src=CDN_PATH + "/images/home/business-title.svg",alt=TITLE)
            .line-1px
          ul.business-list
            li.business-details.hover-scale
              h3 蜘蛛差旅
              h4 欢迎酒店/航司客户洽谈合作
              .line-1px
              p.relation 联系人：汪先生
              p.relation 联系电话：135 1098 6820
              p.relation 电子邮箱：tonyw@ziztour.com
            li.consociation
            li.business-details.hover-scale
              h3 蜘蛛智游行
              h4 欢迎景区/酒店/餐厅/购物商超洽谈合作
              .line-1px
              p.relation 联系人：谢先生
              p.relation 联系电话：189 3868 8367
              p.relation 电子邮箱：kainx@ziztour.com













